<!DOCTYPE html>
<html>

  <!-- base template, shouldn't be loaded-->

  <head>
    <!-- title -->
    <title> Monopoly - {% block title %} {% endblock %} </title>
    <link rel="icon" href="static/monopoly.jpg" type="image/jpg">

    <meta charset="utf-8">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="/tempname7/static/styles.css">
  </head>

  <body class="center" style="background-color:#BFDBAE;">
    <!-- navbar -->
    <nav class="navbar" style="background-color:#8FBC72;">

      <a class="navbar-brand" href="/">
        Monopoly
      </a>

      <a class="navbar-brand" href="/directions" target="_blank">
        Directions
      </a>

      <!-- more options if logged in -->
      {% if log  %}

        <a class="navbar-brand" href="/board">
          Board
        </a>

        <a class="navbar-brand" href="/logout">
          Logout
        </a>

	{% else %}

	<a class="navbar-brand" href="/login">
          Log in
        </a>

	<a class="navbar-brand" href="/signup">
          Create an Account 
        </a>
	
      {% endif %}
	

    </nav>
    <br>

    
    <!-- body -->

    <div class="jumbotron">
      {% block body%}
      Oops. You're not supposed to see me like this.
      {% endblock body%}

      <br><br>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">{{message}}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      

    </div>
    
    

    <!-- footer -->
    {% block footer %}
      <!-- link script if necessary -->
    {% endblock %}
  </body>
</html>
