{% extends "base.html" %}


{% block title %}
Board
{% endblock %}

{% block body %}
  <center>
    <svg id="board" height="800" width="800" style="border: 1px solid;">
      <image href="static/board.jpg" type="image/jpg" height="800" width="800">
    </svg>
  </center>
  <button id = "b"> Temp button  </button>
{% endblock %}

{% block footer %}
  <script src="static/board.js"> </script>
  <!--
    *******************************UNCOMMENT THIS FOR LAUNCH***********************************************
  -->
  <!-- <script src="/var/www/tempname7/tempname7/static/board.js"> </script> -->
{% endblock %}
