{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block body %}

<h1>MONOPOLY</h1>
<br><br>


  <div class="media">
    <div class="media-left">
      <img src="static/monopoly.jpg" class="media-object" style="width:500px">
    </div>
    <div class="media-body">
      <h3 class="mt-0">
	WHEEL and deal as you build your fortune playing an exciting game of MONOPOLY online. Buy up whole neighborhoods, charge rent, and watch your empire grow. It's all about making deals and making money. But don't land in Jail! Go broke, and you'll lose everything. Play MONOPOLY online today!
      </h3>
    </div>
  </div>
</div>


{% endblock %}
